// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path:"../webfonts";









@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular";


// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

:root {
    --blue: #1e90ff;
    --white: #ffffff;

    --company-primary:#007bff;
    --company-secondary:red;


    --bootstrap-primary :#007bff;
    --bootstrap-success :#28a745;
    --bootstrap-danger :#dc3545;
    --bootstrap-secondary :#6c757d;
    --bootstrap-info :#17a2b8;
    --bootstrap-warning :#ffc107;
}

.dt-buttons
{
    display: contents !important;
}

.dataTables_length {
    padding-top: 15px;
    label{
        display: flex;
        font-weight: 400 !important;
    }
    select {
        width: 90px;
        margin: 0 2px;
    }
}
.card-header {
    background-color: #434343 !important;
    color: #fff !important;
    font-size: 18px !important;
}
.dataTables_filter {
    label {
        display: flex;
        font-weight: 400 !important;
    }
}
.table-container {
    overflow-x: auto;       
}
.btn-icon {
    all:unset !important;
    cursor: pointer !important;
    font-size: 20px !important;
}
.icon-success {
    color: var(--blue);
}
.icon-primary {
    color: var(--bootstrap-primary);
}
.icon-success {
    color: var(--bootstrap-success);
}
.icon-danger {
    color: var(--bootstrap-danger);
}

.dataTables_paginate{
    margin: 0;
    white-space: nowrap;
    text-align: right;
}
.pagination {
    display: block !important;
    padding-left: 0;
    // border-radius: 4px;
    white-space: initial;
}

.paginate_button {
    display: inline-table !important;
    margin: 0 !important;
    padding: 0 !important;
}

// 


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    // border:none !important;
}


////////////////course//////////////
.course {
    width:340px;
    margin-right: 6px;
    background: #f0f0f0;
    height: 650px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 10px;   
}
.drag_class {
    height: 570px;
    overflow-x:auto;
    overflow-x:hidden; 
}

.view_all_courses {
    display: -webkit-box;
    overflow-y: auto;
}
@media only screen and (max-width: 448px) {
    .view_all_courses {        
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}

.view_all_courses , .drag_class {

    /* width */
    &::-webkit-scrollbar {
        width: 12px;
        height: 14px;
    }

    // /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px rgb(236, 236, 236) !important; 
        // background-color: #fff !important; 
        // border-radius: 10px;
    }

    // /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #c3c3c3;
        border-radius: 10px;
    }
  }




.course_category {
    color:rgb(230, 124, 4);
    background :#c6f786;
    padding: 20px 15px;
    font-weight: 900;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-family: 'Nunito';
    font-size: 18px;
}
.course_name {
    color:rgb(230, 124, 4);
    font-weight: 400;    
}
.course_body {
    background:#ecf6fb;
    padding:16px;
    margin: 15px;
    border: 1px solid #c4dbf2;
    border-radius: 6px;
    display: flex;
}
.course_pic {
    height: 100%; 
    width: 20%; 
    float: left;
}
.course_info {    
    width: 80%;     
}
.no_courses_found {
    text-align: center;
    color: gray;
    padding: 20px;
    margin-top: 30px;
    i {
        display: block;
        margin-bottom: 20px;
    }
}
////////////////course//////////////